//@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* 
   fonts
*/
$main-font: 'Passion One', sans-serif;
$ubuntu-mono: "Ubuntu Mono", monospace;


/* 
   colors
*/
$primary: #a52a2a;
$accent: #242433;
$secondary: #e66933;
$bg: #ffffff;
$bg-accent: #40BCD8;
$disabled: #9c9c9c;
$foreground: #2d264b;